<div class="container">
<h1>AdventureTweet</h1>
  <div class="get_username">
    <form action="/get_user_tweets" method='post'>
      <input type="text" name="username" placeholder="Enter a Twitter username">
      <input type="submit" value="Get tweets">
    </form>
  </div>

  <% if @tweets %>
    <h2><%= @username %>'s recent tweets:</h2>
      <% @tweets.each do |tweet| %>
      <p><%= tweet %></p>
    <% end %>
  <% end %>

</div>
